body{
    color: aliceblue;
    background-color: #c1c1c16d;
    box-sizing: border-box;

}



/* <!-- start seting part --> */
.setting-box{
    color: #ffffff;
    top:0;
    left:-200px;
    font-size: larger;
    position: fixed;
    z-index: 4;
    width: 200px;
    background-color: #fafafa88;
    min-height: 100vh;
    transition: 3s;
}
.opened{
    left: 0;
}

.setting-box .toggele-settings {
    font-size: 30px;

    position: absolute;
    left:100%;
    top: 100px;
    background-color: #f7920c;
    width:35px;
    text-align: center;
    cursor: pointer;
    /* height: 35px; */
    border-radius:  0px 10px 10px 0px ;
    
}
.setting-box .toggele-settings .fa-solid{
    background-color: #fafafa00;
}


/* <!-- end seting part --> */


/* <!-- start landing page --> */
.landing-page{

    min-height: 100vh;
    background-image: url(../image/flat-lay-mexican-food-composition-with-copyspace.jpg);
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: #572303cf;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.header-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
background-color: #ffffff66;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 297px;
    /* border: 1px solid; */
    z-index: 2;
    padding: 0;
    font-size: larger;
    
}
ul li a{
    text-decoration: none;
    color: #fafafa;
}
ul li:hover a{
    color: #f7920c;
    cursor: context-menu;
    transition: 0.3s;

}
.search{
    width: 100px;
    z-index: 2;
    border:1px solid #fafafa;
    border-radius: 43px;
    padding-left: 10px;
    background-color: #ffffffbd;
}

.search:hover{
    transform: scale(1.2);
    border-radius: 43px; 
    z-index: 2;
}
.logo{
    font-family: cursive;
    color: #f7920c;
    font-weight: bold;
    font-size: x-large;
    z-index: 2;
}
.itrodaction-text{
    
    z-index: 2  ;
    position: relative;

}
.itrodaction-text .textOne {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 61px;
    margin-bottom: 0;    
}
.itrodaction-text #first{
    margin-top: auto;
    margin-bottom:10px;
    width: fit-content;
    font-family: math;
    font-weight: 400;
    font-style: normal;
    font-size: 98px;
    color: antiquewhite;
    background-color: #f7910cd5;
}
.itrodaction-text #secand{
    margin-top: auto;
    margin-bottom: 0;
    font-family: math;
    font-weight: 400;
    font-style: normal;
     font-size: 111px;
     width: fit-content;
     color: #f7920c;
     background-color: rgba(250, 235, 215, 0.889);

}
.itrodaction-text p{
    color: #ffffff7d;
    width: 263px;
}
.containerone{
   
    display: flex;
    position: absolute;
    z-index: 2;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
}


.food-imege{
    width: 260px;
    border-radius: 50%;
    height: 243px;
    border: 3px solid rgb(248, 246, 246);
    z-index: 2;
    background-size: cover;
    margin-top: 52px;

}
/* <!-- end landing page --> */


/* <!-- start About Us Section --> */
.menuContainer{
    color: rgb(0, 0, 0);
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
.menuContainer div{
    background-color: #fafafa;
    width: 128px;
    height: 128px;
    display: grid;
    /* border: 1px solid red; */
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.8s;
  
    font-style: normal;
    font-size: 19px;
    position: relative;
    cursor: pointer;
}
.menuContainer div:hover{
    background-color: #f7920c;
    
   
}
.menuContainer .Burger,.Coffee{
    top: 10px;
}
.menuContainer .Salad, .Pizza,.FriedChiken{
    top: -20px;
}
.menuContainer img{
    width: 98px;
    height: 86px;
}
.menusction .menuorder{
    background-color: #f7920c;
    color: #ffffff;
    border-radius: 0 0% 57% 57%;
    padding-top: 51px;
    font-family: math;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    text-align: center;
}
    

.menusction .menuorder:hover{
    color: #f4e1c9;
    cursor: context-menu
}
.menusction .menuorder p{
    margin: 0;
    font-size: 25px;
    font-family: "Sevillana", cursive;
}
/* the div cret in js to see the image */
/* .popOverlay{
position: fixed;
top: 0;
left: 0;
    width: 100%;
    height:100%;
    background-color: #f7910c5f;
    z-index: 8888;
} */
/* <!-- end About Us Section --> */
/* <!--  start map Section --> */
.mapSection{
width: 100%;
height:  100vh;
background-color: #fafafa;}
.mapSection .theMap{
    /* border: 1px solid red; */
    height: 100vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
iframe{
    width:100%;
    height: 100vh;

}
/* <!--  end map Section --> */
/* start footer section */
.containerFooter{
    width: 100%;
    z-index: 7777777;
    display: flex;
    height:46vh;
    align-items: flex-end;
    background-color: #fafafa;
}
.backgr{
    width: 100%;
    top: 86%;
    height: 74%;
    position: revert-layer;
    right: -111px;
    border-radius: 48% 28% 0 0;
    background-color: #F57C00;
  
}
.backgr p{
    margin-top: 20px;
        width: 40%;
        
        FONT-SIZE: 25px;
        margin: 15px 30%;
text-align: center;
    }
.part-contect-icon{
        margin-top: 20px;
        width: 40%;
        margin: 10px 30%;
        display: flex;
        FONT-SIZE: 25px;
        justify-content: space-evenly;
        align-items: center;
}
.part-contect{
    margin-top: 20px;
    width: 40%;
    FONT-SIZE: 18px;
    margin: 15px 30%;
text-align: center;
}
.part-contect label{
    
    color: bisque;
    display: block;
    margin-top: 2px;
    margin-left: -12px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
.part-contect button{
    color: #F57C00;
    border: 0;
    background-color:white;
    border-radius: 3px;

}
.part-contect input{
    border: 0;
    border-radius: 4px;
}
.part-contect-icon i:hover{
color: #f4e1c9;
}
.part-contect button:hover{
    color: #b96b0b;

}